html {
  line-height: 1.2em;
  font-family: tahoma;
  font-size: 1em;
  -webkit-overflow-scrolling: touch;
  margin-top: 1em;
}

h1 {
  font-weight: bold;
  padding-bottom: 0.5em;
}

h1,
p {
  text-align: center;
}

li {
  padding-top: 1em;
}

label {
  display: block;
  background-color: #66ccff;
  text-align: center;
}

input {
  display: block;
  margin: auto;
  width: 95%
}

@media screen and (min-width: 1200px) {
  label {
    display: inline-block;
    color: white;
    background-color: red;
    margin-right: 5px;
    font-size: 1.3em;
  }
}